@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
 

/* Enable class-based dark mode toggle */
@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

